.page-two{
  display: none;
}

body{
  background-image: url(imagenes/fondocompletogde-05.png);
  background-repeat: no-repeat;
  background-position: top center bottom;
  font-family: 'Comfortaa', cursive;
}

.contenedor{
  width: 95%;
  max-width: 1000px;
  margin: auto;
}
#description{
  width: 95%;
  max-width: 1000px;
  margin: auto;
  font-size: 110%;
  line-height: 25px;
  text-align: left;
  padding: 40px 50px;
  color: #fff;
}

#definition{
  display:block;
  text-align: left;
  width: 55%;
  padding: 30px 0px 50px 0px;
  font-size: 108%;
  line-height: 27px;
}
#inputs{
  width: 60%;
  display: block;
  margin-left: 10%;
  font-family: 'Comfortaa', cursive;

}
#input-name{
  margin: 10px 20px;
  font-family: 'Comfortaa', cursive;
}
#input-password{
  margin: 10px 6px;
  font-family: 'Comfortaa', cursive;
}
#button-sesion{
  padding: 8px;
  margin: 15px 80px;
  color: #fff;
  font-size: 15px;
  font-family: 'Comfortaa', cursive;
  background-color: #EF3598;
  border-radius: 10px;
  white-space: nowrap;
  border: 5px #EF3598;

}
#registro{
  font-size: 15px;

}
#link{
  color: #B3C9FF;
  font-size: 15px;
  padding: 0px;
}

header nav{
  background-color: transparent;
  margin-bottom: 10px;
}
  header nav ol {
    list-style: none;
    overflow: hidden;
  }
    header nav ol li{
      display: inline-block;
      padding-top: 5px;
    }
      header nav ol li a{
        display: block;
        padding: 10px;
        color: #141D38;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.4s linear;
        border-radius: 5px;
        font-size: 110;
      }
      header nav ol li a:hover {
        background: #EDF4FF;
      }
      .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .registro{
        width: 78%;
        max-width: 1000px;
        margin: auto;
        font-size: 102%;
        line-height: 22px;
        text-align: left;
        padding: 30px 0px 60px 10px;
      }
      h1{
        color: #EF3598;
        text-align: center;
        padding-top: 22%;
        font-size: 220%;
      }
      #pasos{
        color: #141D38;
        display:block;
        text-align: center;
        width: 70%;
        margin-left: 15%;
        padding: 0px 0px 50px 0px;
        font-size: 115%;
        line-height: 27px;
        font-weight: bold;
      }
      #instruccion-1{
        color: #141D38;
        display:block;
        text-align: center;
        width: 55%;
        margin-left: 18%;
        margin-bottom: 8%;
        font-size: 115%;
        line-height: 27px;
      }
      #instruccion-2{
        color: #141D38;
        display:block;
        text-align: center;
        width: 55%;
        margin-left: 18%;
        margin-bottom: 8%;
        font-size: 115%;
        line-height: 27px;
      }
      #instruccion-3{
        color: #141D38;
        display:block;
        text-align: center;
        width: 55%;
        margin-left: 18%;
        margin-bottom: 8%;
        font-size: 115%;
        line-height: 27px;
      }
      #instruccion-4{
        color: #141D38;
        display:block;
        text-align: center;
        width: 55%;
        margin-left: 18%;
        margin-bottom: 8%;
        font-size: 115%;
        line-height: 27px;
      }
      span{
        font-weight: bold;
      }
      #cifrar{
        color: #fff;
        width: 95%;
        max-width: 1000px;
        margin: auto;
        text-align: left;
      }
      #welcome{
        color: #fff;
        display:block;
        text-align: center;
        width: 35%;
        padding: 0px;
        margin-top: 0%;
        margin-left: 2%;
        font-size: 160%;
        line-height: 40px;
      }
      h2{
        color: #EF3598;
        display: block;
        width: 50%;
        text-align: left;
        font-size: 150%;
      }
        #input-cifrar{
          width: 40%;
          padding: 1%;
          text-align: left;
          font-family: 'Comfortaa', cursive;
        }
        #number-security1{
          width: 10%;
          display: inline-block;
          font-family: 'Comfortaa', cursive;
          padding-top: 0%;
        }
        #button-code{
          padding: 10px;
          margin: 15px 20px;
          color: #2660EF;
          font-size: 15px;
          font-family: 'Comfortaa', cursive;
          background-color: #B3C9FF;
          border-radius: 10px;
          white-space: nowrap;
          border: 5px #B3C9FF;
          font-weight: bold;
        }
        #button-share{
          display: inline-block;
          align-items: flex-end;
          padding: 10px;
          margin: 15px 20px;
          color: #fff;
          font-size: 15px;
          font-family: 'Comfortaa', cursive;
          background-color: #EF3598;
          border-radius: 10px;
          white-space: nowrap;
          border: 5px #EF3598;
          font-weight: bold;
        }
        #result-code{
          color: #fff;
          display: block;
          margin-top: 0%;
          margin-bottom: 0%;
          width: 50%;
          text-align: left;
          font-size: 150%;
          font-weight: bold;
          line-height: 35px;
        }
        h3{
          color: #EF3598;
          display: block;
          width: 50%;
          text-align: left;
          font-size: 150%;
          margin-top: 2%;
        }
        #input-descifrar{
          width: 40%;
          padding: 1%;
          text-align: left;
          font-family: 'Comfortaa', cursive;
        }
        #number-security2{
          width: 10%;
          display: inline-block;
          font-family: 'Comfortaa', cursive;
          padding-top: 0%;
        }
        #button-decode{
          padding: 10px;
          margin: 15px 20px;
          color: #fff;
          font-size: 15px;
          font-family: 'Comfortaa', cursive;
          background-color: #EF3598;
          border-radius: 10px;
          white-space: nowrap;
          border: 5px #EF3598;
          font-weight: bold;
        }
        #button-copy{
          padding: 10px;
          margin: 15px 20px;
          color: #fff;
          font-size: 15px;
          font-family: 'Comfortaa', cursive;
          background-color: #EF3598;
          border-radius: 10px;
          white-space: nowrap;
          border: 5px #EF3598;
          font-weight: bold;

        }
        #result-decode{
          color: #fff;
          display: block;
          margin-top: 0%;
          margin-bottom: 0%;
          width: 50%;
          text-align: left;
          font-size: 150%;
          font-weight: bold;
          line-height: 35px;
        }

footer{
  display: block;

  width: 100%;
  text-align: center;
  margin-top: 13%;
  color: #0E0E0F;
}
